/* src/styles.css ou src/assets/fonts/fonts.css */
@font-face {
  family: "sf-pro-display";
  src: url("/assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM") format("otf");
  weight: 400;
  style: normal;
}
