<div class="w-[664px] m-auto">
  <div class="h-[60px] flex flex-row items-center justify-center">
    <a href="" class="py-[17px] px-4 text-black hover:text-black border-b border-black">
      <span>Para você</span>
    </a>
    <a href="" routerLinkActive="border-black text-black"
      class="py-[17px] px-4 text-[#999] hover:text-black border-b border-transparent">
      <span>Seguindo</span>
    </a>
  </div>

  <div class="bg-white rounded-2xl p-10 border border-gray-200">

  </div>

</div>
